<%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
	<div class="form-group row no-padding text-center col-md-12">
		<div class="col-md-10">
			<%= text_field_tag :search_param, params[:search_param], 
								placeholder: "//", 
								autofocus: true, 
								class: 'form-control search-box input-sm' %>
		</div>
		<div class ="col-md-2">
			<%= button_tag(type: :submit, class: 'btn btn-sm btn-success-outline') do %>
				<i class="fa fa-search">  Search for a friend</i>
			<% end %>
		</div>
	</div>
<% end %>
<!-- #############SEARCH RESULTS############
<% if @users %>
	<% if @users.size > 0 %>
		<div id="friend-lookup-results" class="well results-block col-md-10">
			<table class="search-results-table col-md-12">
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><strong>Name:</strong> <%= user.full_name %></td>
							<td><strong>Email:</strong> <%= user.email %></td>
							<td>	<% if current_user.not_friends_with?(user.id) %>
									<%= link_to "Add as my friend", add_friend_path(user: current_user, friend: user), 
																	class: 'btn btn-sm btn-success-outline', 
																	method: :post %>
								<% else %>
									<span class="label label-primary">You are friends</span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
		<p class="lead col-md-12">No people matched this search criteria</p>
	<% end %>
<% end %>

 -->
<p class="lead">People you may know</p>
	<% @users.each do |user| %>
		<% if user.id != current_user.id && (current_user.not_friends_with?(user.id)) %>
			<div align="center">
				<div class="col-xs-4">
					<div class="card text-xs-center">
					  <div class="card-header">
					    Hi I'm
					  </div>
					  <div class="card-block">
					    <h4 class="card-title"><%= user.full_name %> </h4>
					    <p class="card-text"><%= user.email %></p>
					    <%= link_to add_friend_path(user: current_user, friend: user), 
					    								:class => "btn btn-sm btn-success-outline btn-block", 
					    								method: :post do %>
					   	  <i class="fa fa-user-plus"> <strong>Add friend</strong> </i>
					    <% end %>
					    <%= link_to user_path(user), :class => "btn btn-sm btn-info-outline btn-block" do %>
					      <i class="fa fa-search"> <strong>View Profile</strong></i>
					    <% end %>
					  </div>
					  <div class="card-footer text-muted">
					    Online <%= time_ago_in_words(user.last_sign_in_at) %> ago
					  </div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>