<%= @users.each do |user| %>
<!-- 	<div class="card card-block user-actions" style="width: 18rem;">
	  <h3 class="card-title"><%= user.first_name %> <%= user.last_name %></h3>
	  <p class="card-text"><%= user.email %></p>
	  <a href="#" class="btn btn-default btn-sm">Go somewhere</a>
	</div> -->
	<% if user.id != current_user.id %>
		<div align="center">
			<div class="card text-xs-center">
			  <div class="card-header">
			    <%= user.email %>
			  </div>
			  <div class="card-block">
			    <h4 class="card-title"><%= user.first_name %> <%= user.last_name %> </h4>
			    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			    <a href="#" class="btn btn-primary btn-sm">Add as a friend</a>
			  </div>
			  <div class="card-footer text-muted">
			    Registered <%= time_ago_in_words(user.created_at) %> ago
			  </div>
			</div>
		</div>
	<% end %>
<% end %>