<% if @friendships.count > 0 %>
	<% @friendships.each do |friends| %>
		<div class="col-lg-4">
			<div class="card">
			  <div class="card-block">
			    <h4 class="card-title"><%= friends.full_name %></h4>
			    <h6 class="card-subtitle text-muted"><small>Online <%= time_ago_in_words(friends.last_sign_in_at) %> ago</small></h6>
			  </div>
			  <img class="fixed-img" src="https://i.ytimg.com/vi/8VqcFj_11eA/maxresdefault.jpg" alt="Card image">
			  <div class="card-block">
			    <p class="card-text" align="center"><strong><%= friends.email %></strong></p>

			    <%= link_to user_path(friends), :class => "btn btn-sm btn-info-outline btn-block" do %>
			    	<i class="fa fa-search"> <strong>View Profile</strong></i>
			    <% end %>
		<!-- 	    <%= link_to "View", user_path(friends), class: "card-link" %> -->
		    	<%= link_to friendship_path(friends), method: :delete, :class => "btn btn-sm btn-danger-outline btn-block",
													  data: { confirm: "Are you sure you want to remove him/her to your friends list?"} do %>
					<i class="fa fa-times"> <strong>Remove</strong></i>
				<% end %>
<!-- 			    <%= link_to "Remove", friendship_path(friends), class: "card-link", method: :delete, 
																				data: { confirm: "Are you sure you want to remove him/her to your friends list?"} %> -->
			  </div>
			</div>
		</div>
	<% end %>
<% else %>
	<p class="lead col-md-12">No friends yet.</p>
<% end %>