<div class="col-lg-5">
	<img src="http://66.media.tumblr.com/7640c7eda1210e3c474a239c651fecc4/tumblr_nnzsvnbUzD1rlo1q2o1_1280.jpg" class="img-thumbnail fixed-img" alt="img" style="width:300px;height:250;">
	<div align="center"><small><%= @user.email %></small></div>	
    <div class="container-fluid">

         <h3 align="center"><%= @user.full_name %></h3>
         <ul class="nav nav-list">
          <small>
          <li class="nav-header"><i class="fa fa-home"></i> Lives in <%= link_to "#{@user.city},#{@user.country}" %></li>
          <li><i class="fa fa-graduation-cap"></i> Studied <%= link_to @user.course %> at <%= link_to @user.school %></li>
          <li><i class="fa fa-heart"></i> Single</li>
      <% if @user.friends.count > 0 %>    
          <% if @user.friends.count >1 %>
            <li><i class="fa fa-users"></i> <%= @user.friends.count %> friends </li>
          <% else %>
            <li><i class="fa fa-users"></i> <%= @user.friends.count %> friend </li>
          <% end %>
      <% end %>
          <li><i class="fa fa-mobile"></i> <%= @user.mobile %></li>
      <!-- new friends_path for other users' friends -->
          </small>
         </ul>

    </div>
</div>
<div class="col-lg-6">
<!-- 	<div class="well well-lg xl-well"> -->
    <% @posts.each do |post| %>
      <% if @user.id == post.user.id %>
        <div class ="well well-lg">
          <b><%= link_to post.user.full_name, user_path(post.user) %></b>
          <div class="no-padding"><small><%= time_ago_in_words(post.created_at) %> ago</small></div><br>
          <p><%= post.content %></p>
          <% if current_user.id == post.user.id %>
<!--             <a href="#"><small>·Delete</small></a> -->
            <%= link_to "Delete", post_path(post),  method: :delete, 
                                        data: { confirm: "Are you sure you want to delete this post?"} %>
          <% end %>
        </div>
      <% end %>
    <% end %>
<!-- 	</div> -->
</div>